* {
  text-align: center;
}

ul {
  margin-left: 0;
  margin-bottom: 0;
}

li {
  list-style: none;
  display: inline-block;
}

//Global

button.deets {
  text-transform: uppercase;
  font-size: 1.5rem;
  a {
    color: $white;
  }
}

//Splash Scree (Desktop)

.resize-brah {
  font-family: $body-font;
  margin-top: 0;
  color: $white;
  font-weight: $heavy-text;
  font-size: 5rem;
  text-transform: uppercase;
}

//Yah Message 

.yah-message {
  color: $white;
  font-size: 7rem;
  font-weight: $heavy-text;
  text-transform: uppercase;
  text-align: center;
}

h1 {
  font-size: 4rem;
  padding: 0;
  margin: 0;
  line-height: 4rem;
  font-weight: $heavy-text;
  margin-left: 1.5rem;
}

h2 {
  background: inherit;
}

h4 {
  font-size: 0.75rem;
  padding: 0.5rem 0 0;
  margin: 0;
  line-height: 0.75rem;
  text-transform: uppercase;
}

.wave-height {
  font-size: 1.25rem;
  font-weight: $heavy-text;
  h4 {
    color: white;
  }
}

.temp-detail {
  font-weight: $heavy-text;
}

.temp-title {
  font-weight: $light-text;
  text-transform: uppercase;
}

.water-temp {
  h4, h1 {
    color: white;
  }
}

h4.interval-title {
  color: white;
}

// app

.app-header {
  color: $white;
  font-weight: $heavy-text;
  text-transform: uppercase;
  font-size: 5rem;
  line-height: 5rem;
  text-align: left;
  margin-left: 0;
}

.app-details {
  text-align: left;
}

.app-description {
  p {
    text-align: left;
  }
}